@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@400;700&display=swap');

*:root{
    --color-primario: #000;
    --color-secundario: #FFF;
}

*{
    margin: 0;
    padding: 0;
    color: var(--color-secundario);
}

body{
    background-color: var(--color-primario);
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    text-align: center;
}

.nombreJuego h2{
    margin-top: 40px;
    font-family: 'Press Start 2P', cursive;
    font-size: 80px;
}

#btnInicio, #btnPausar{
    visibility: hidden;
}

#btnInicio.active, #btnPausar.active{
    visibility: visible;
}

#btnControles{
    position: fixed;
    top: 20px;
    left: 2%;
    width: 96%;
    z-index: 3;
    display: flex;
    justify-content: space-between;
}

#btnControles button{
    background-color: transparent;
    border: none;
    border-bottom: solid var(--color-secundario) 5px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 700;
    cursor: pointer;
}

main{
    margin-top: 240px;
    font-family: 'Roboto', sans-serif;
}


/* Estilos de escenario principal */
.escenarioInicial{
    display: none;
}

.escenarioInicial.active{
    display: block;
}

.registroJugadores fieldset{
    border-radius: 5px;
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
}

.registroJugadores input{
    width: 95%;
    height: 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    padding-left: 10px;
    color: var(--color-primario);
}

.selectorDificultad{
    margin: 40px 0;
    text-align: center;
}

.selectorDificultad button{
    background-color: transparent;
    margin-left: 25px;
    font-size: 32px;
    font-weight: 700;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.selectorDificultad button.active{
    outline: 3px solid var(--color-secundario);
}

.btnJugar{
    text-align: center;
}

.btnJugar button{
    background-color: transparent;
    font-size: 50px;
    border: none;
    font-weight: 700;
    cursor: pointer;
}

.enlacesExternos{
    position: fixed;
    bottom: 15px;
    right: 20px;
}

.enlacesExternos button{
    background-color: transparent;
    width: 56px;
    height: 56px;
    border-radius: 5px;
    border: 2px solid var(--color-secundario);
    font-size: 28px;
    margin-left: 10px;
    cursor: pointer;
}


/* Estilos del escenario de juego */
.escenarioDeJuego{
    display: none;
}

.escenarioDeJuego.active{
    display: block;
}

.contadores{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 32px;
}

.nombresJugadores{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.canvasJuego{
    background-color: var(--color-primario);
    border: 3px solid var(--color-secundario);
}

.juegoPausado, .juegoTerminado{
    display: none;
}

.juegoPausado.active, .juegoTerminado.active{
    display: block;
}

#fondoJuegoPausado, #fondoJuegoTerminado{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 4;
    gap: 10px;
}

#fondoJuegoPausado h1, #fondoJuegoTerminado h1{
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 8rem;
}

#fondoJuegoTerminado h1{
    font-size: 7rem;
}

#fondoJuegoTerminado button{
    background-color: transparent;
    padding: 5px;
    border: 3px solid var(--color-secundario);
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 28px;
    cursor: pointer;
}


/* Estilos escenario de edición de estilos */
.escenarioDeEstilos{
    display: none;
}

.escenarioDeEstilos.active{
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    font-size: 20px;
    text-align: center;
}

.contEstilos{
    padding: 30px 40px;
    border: 3px solid var(--color-secundario);
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
}

#contEstilosJugador1 div, #contEstilosJugador2 div{
    width: 30px;
    height: 80px;
    border-radius: 5px;
    cursor: pointer;
}

#contEstilosJugador1 div.active, #contEstilosJugador2 div.active{
    outline: solid 3px var(--color-secundario);
}

#estilosJuego{
    padding: 0 30px;
}

#numeroDeRondas{
    padding: 5px 10px;
    font-size: 24px;
    color: var(--color-primario);
    border-radius: 5px;
}

#numeroDeRondas option{
    color: var(--color-primario);
}
