@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}

.nombreJuego a{
    text-decoration: none;
}

.nombreJuego a h2{
    margin: 60px 0;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 80px;
    color: white;
}

main{
    text-align: start;
    padding: 0 15%;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin-bottom: 60px;
}

main h2{
    text-align: center;
    margin-top: 30px;
}

main h3{
    margin: 25px 0 10px 0;
}
